.container{
    display: grid;
    /*height: 500px;*/
    grid-template-columns: repeat(2, 1fr 200px);
    /*row-gap: 20px;*/
    /*column-gap:60px;*/
    gap: 20px 60px; /*linha coluna*/
    /*grid-template-rows: 100px 400px 500px;*/
}

.item1{
    background-color: aqua;
}
.item2{
    background-color: aquamarine;
}
.item3{
    background-color: blue;
}
.item4{
    background-color: red;
}
.item5{
    background-color: green;
}

.item6{
    background-color: blueviolet;
}

.item7{
    background-color: brown;
}