.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 200px 100px auto 200px;
    gap: 8px;
    grid-template-areas:
    "first first second"
    "third four second";
    
    
}

.item1 {
    background-color: darkblue;
    grid-area: first;
}

.item2 {
    background-color: darkmagenta;
    grid-area: second;
}

.item3 {
    background-color: greenyellow;
    grid-area: third;
}

.item4 {
    background-color: hotpink;
    grid-area: four;
}